.hero-bg {
    background: url("https://images.unsplash.com/photo-1511527844068-006b95d162c2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"), linear-gradient(180deg, rgba(0,0,0,0.3), rgba(0,0,0,0.6));
    background-size: cover;
    background-repeat: no-repeat;   
    background-blend-mode: overlay;
    background-attachment: fixed;
}