@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

.title-font {
  font-family: 'Outfit', sans-serif;
}

.button-primary {
  @apply btn bg-[#78CA5C] border-none hover:bg-[#67b04f] text-white title-font;
}

.cars-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sidebar-link {
  @apply px-3 py-1 text-[#333333] rounded-lg flex items-center gap-3;
}

.sidebar-link svg {
  @apply text-primary;
}

.sidebar-active-link {
  @apply bg-primary text-white;
}

.sidebar-active-link svg {
  @apply text-white;
}

@media only screen and (max-width: 900px) {
  .cars-page {
    background-color: white;
    grid-template-columns: 1fr;
  }
}